
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("CreateGame","Home")">Create a Game</a>
        <p>Join a Game</p>
    </div>
</body>
</html>
